{% extends "base.html" %}
{% block title %}{% spaceless %}用户登录{% endspaceless %}{% endblock %}
{% block forejs %}
	<script type="text/javascript" src="/content/js/jquery.openid.js?"></script>
    <script type='text/javascript' src='/content/js/jquery.validate.pack.js'></script>
	<script type="text/javascript">
	$().ready(function(){
	    openid.init('id_openid_url');
        setupFormValidation("#openid_form", {bsignin:{required: true}});
	});
	</script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        用户登录
    </h3>
</div>
<div class="login">
    <form name="openid_form" action="{% url user_signin %}" method="post">
    {{ form2.next }}
    <div class="message">使用CNProg<strong class="darkred">无需注册</strong>，使用OpenID登录后绑定系统用户即可。</div>
    <div id="openid_choice">
        <div style="padding:10px 0 10px 0"><strong>请选择您的帐号类型并完成正确的OpenID地址（如：替换{username}为您的对应帐号）：</strong> </div>
        <div id="openid_btns"></div>
    </div>
    <br>
    
	<div style="margin-top:30px">
        {% if msg %}
        	<p class="warning">{{ msg }}</p>
        {% endif %}
        {{ form2.openid_url }} <input id="bsignin" name="bsignin" type="submit" value="登录" class="openid-login-submit" />
	</div>
    
    <div style="margin:20px 0 20px 0">
        <span class="darkred">登录前请确认您的OpenID帐号已经在服务提供商被激活或启用。</span>
    </div

</form>
</div>	
{% endblock %}

{% block sidebar %}
<div class="yellow-box">
    <h3>为什么需要OpenID登录？</h3>
    <ul class="list-item">
        <li>
        构建在OpenID网络认证上的本系统，不需要你注册新的帐号，即可使用我们系统的所有功能
        </li>
        <li>
        用同一个帐号可登录互联网所有激活OpenID的网站

        </li>
        <li>
        全世界有1.6亿OpenID帐号，和10,000个支持OpenID的站点

        </li>
        <li>
         OpenID是有开放标准，并且有相关的基金组织提供支持

        </li>
        
    </ul>
    <a href="http://openid.net/what/" target="_blank" style="float:right;position:relative">查看更多 »</a><br>
    <a href="http://openid.net/get/" target="_blank" style="float:right;position:relative">获取OpenID »</a>
    <br>  
</div>
{% endblock%}

