{% extends "base_content.html" %}
{% block title %}{% spaceless %}404 Error{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type="text/javascript">
        $().ready(function(){
            $("#linkPrevious").bind("click", back=function(){history.go(-1);})            
        });
         
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        404 Not Found
    </h3>

</div>
<div id="main-body" class="">
    <div style="padding:5px 0px 10px 0;line-height:25px;">
        <h3>对不起，没有找到您请求的页面！</h3>
        The page you are looking for doesn't exist.
        <br><br>
        
        <script type="text/javascript">
            var GOOG_FIXURL_LANG = 'zh-cn';
            var GOOG_FIXURL_SITE = 'http://cnprog.com/';
        </script>
        <script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
        <ul>
            <li><a href="#" id="linkPrevious">返回前页</li>
            <li><a href="/questions">查看最新问题</a></li>
            <li><a href="/tags/">查看标签列表</a></li>
        </u>
    </div>

</div>
{% endblock %}



