{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}关于本站{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        关于本站
    </h3>

</div>
<div id="main-body" style="width:100%">
    <div id="" class="paragraph">
     CNProg 是<strong>一个面向中国程序员的免费技术问答社区</strong>。<br>
     我们用透明、开放、全民管理的运作模式，让所有用户能够更加容易地寻求帮助，找到问题答案，解决实际的技术问题。
     <br><br>
     
     在运作上我们是一个由用户来驱动的社区。<strong>我们不运作社区，由你来运作。</strong>每个用户不仅是管理员，也是社区功能需求的提出者。<br>
     社区内容是协作的，系统越信任你，你就在社区获得更多的管理权限，可以开始编辑问题或回答。
     帮助我们组织问题和答案，帮助需要帮助的广大程序员用户。
     <br><br>
     CNProg 是一个介于论坛、博客、维基和Digg之间的社区系统，基于Python和Django开发，我们希望用户获得更快捷、更优越的操作体验。
     <br>
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">你们是谁？</h3>
        我们和你一样，也是希望自己编写高质量软件的开发人员。我们的团队：
        <table cellspacing="5" cellpadding="3">
            <tr>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td>  </td>
                <td><a ></a></td>
            </tr>
            <tr>
                <td colspan="4" height="5"></td>
            </tr>
	        <tr>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"></td>
                <td width="150px"></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        <br><br>
        查看更多介绍的<a href="/faq" class="big">CNProg FAQ</a>。
    </div>
    <br><br>
    
</div>
{% endblock %}



