<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>CNProg.com</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/content/style/default.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/content/images/favicon.ico" />
        <script type="text/javascript" src="/content/js/jquery-1.2.6.min.js?d=20081213"></script>
        {% block forejs %}
        {% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="header">
                {% include "header.html" %}
            </div>
            <div id="content">
                <div id="main">
                    {% block content%}
                    {% endblock%}

                </div>
                
                <div id="sidebar">
                    {% block sidebar%}
                    {% endblock%}
                    
                </div>
                <div id="tail" style="clear:both;">
                    {% block tail %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
        {% block endjs %}
        {% endblock %}
    </body>
</html>
