<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{% block title %}{% endblock %} - CNProg.com 程序员问答社区</title>
        {% block meta %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="verify-v1" content="55uGNnQVJW8p1bbXeF/Xbh9I7nZBM/wLhRz6N/I1kkA=" />
        <link rel="shortcut icon" href="/content/images/favicon.ico" >
        <link href="/content/style/default.css" rel="stylesheet" type="text/css" />
        <script src="http://www.google.com/jsapi"></script>
        <script>google.load("jquery", "1.2.6");</script>
        {% block forejs %}
        {% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="header">
                {% include "header.html" %}
            </div>
            <div id="content">
                <div id="main">
                    {% block content%}
                    {% endblock%}

                </div>
                
                <div id="sidebar">
                    {% block sidebar%}
                    {% endblock%}
                    
                </div>
                <div id="tail" style="clear:both;">
                    {% block tail %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
        {% block endjs %}
        {% endblock %}
    </body>
</html>
