{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}关闭问题{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $('#btBack').bind('click', function(){ history.back(); });
        });
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        关闭问题
    </h3>
</div>
<div id="main-body" style="width:100%">
    <div class="paragraph">由于以下原因，你要关闭这个问题： <a href="{{ question.get_absolute_url }}"><span class="big">{{ question.get_question_title }}</span></a></div>   
    
    <form id="fmclose" action="{% url close question.id %}" method="post" >
        <span class="big">原因：</span> {{ form.reason }}
        
        <div id="" style="padding-top:20px">
            <input type="submit" value="确定关闭" class="submit" />
            <input id="btBack" type="button" value="取消"  />
            
        </div>
        
    </form>
</div>
{% endblock %}



