        <div id="footer">
            <div class="center-container">
                <div>
                <a href="/about">关于本站</a><span class="link-separator"> |</span> 
                <a href="/faq">FAQ</a><span class="link-separator"> |</span>
                <a href="#">联系我们</a><span class="link-separator"> |</span>
                <a href="#">隐私政策</a><span class="link-separator"> |</span>
                <a href="http://cnprog.uservoice.com" target="_blank">问题反馈</a>
                </div>
                <div style="padding-top:15px">
                    <a href="http://www.djangoproject.com/" target="_blank">
                        <img src="/content/images/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." ></a>
                </div>
                
                <div style="float:right">
                    <a href="http://creativecommons.org/licenses/by-sa/2.5/" target="_blank"><img src="/content/images/cc-wiki.png" title="Creative Commons: Attribution - Share Alike" alt="cc-wiki" ></a>
 
                </div>
            </div>
        </div>