{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}
{% block forejs %}
        <script type='text/javascript' src='/content/js/com.cnprog.editor.js'></script>
        <script type='text/javascript' src='/content/js/com.cnprog.utils.js'></script>
        <script type='text/javascript' src='/content/js/com.cnprog.post.js'></script>
        <script type='text/javascript' src='/content/js/jquery.validate.pack.js'></script>
        <script type="text/javascript">
        // define reputation needs for comments
        var repNeededForComments = 50;
        
        $().ready(function(){
            $("#nav_questions").attr('className',"youarehere");
            var answer_sort_tab = "{{ tab_id }}";
            $("#" + answer_sort_tab).attr('className',"youarehere");
            
            Vote.init({{ question.id }}, '{{ question.author.id }}','{{ user.id }}');
            
            $('#editor').TextAreaResizer();
            //highlight code synctax when editor has new text
            $("#editor").typeWatch({highlight: false, wait: 3000,
                             captureLength: 5, callback: lanai.highlightSyntax});
                             
            var display = true;
            var txt = "禁用预览";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "启用预览" : "禁用预览";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });
            
            //form validation
            $("#fmanswer").validate({
                rules: {
        			text: {
        				required: true,
        				minlength: 30
        			}
        		},
                messages: {
        			text: {
        				required: " 内容不能为空。",
        				minlength: jQuery.format(" 请输入至少 {0} 字符。")
        			}
                }
            });
        });
         
        </script>
{% endblock %}
        
{% block content %}
<div id="question-title" class="">
    <h3>
        <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
    </h3>
    
</div>
<div id="main-body" class="">
    <div id="askform">
        <form id="fmanswer" action="{% url answer question.id %}" method="post">
            <table style="width:100%;">
                <tr>
                    <td style="width:50px;vertical-align:top">
                        <div class="vote-buttons">
                            <img id="question-img-upvote-{{ question.id }}" class="question-img-upvote" src="/content/images/vote-arrow-up.png" title="这篇帖子有价值（再次点击取消操作）" >
                            <div id="question-vote-number-{{ question.id }}" class="vote-number">{{ question.score }}</div>
                            <img id="question-img-downvote-{{ question.id }}" class="question-img-downvote" src="/content/images/vote-arrow-down.png" title="这篇帖子没有价值（再次点击取消操作）" >
                            {% if favorited %}
                            <img class="question-img-favorite" src="/content/images/vote-favorite-on.png" title="我要收藏这个问题（再次点击取消操作）" >
                            <div id="favorite-number" class="favorite-number my-favorite-number">{{ question.favourite_count }}</div>
                            {% else %}
                            <img class="question-img-favorite" src="/content/images/vote-favorite-off.png" title="我要收藏这个问题（再次点击取消操作）" >   
                                {% ifnotequal question.favourite_count 0 %}
                                    <div id="favorite-number" class="favorite-number">{{ question.favourite_count }}</div>
                                {% endifnotequal %}
                            {% endif %}
                            
                        </div>
                    </td>
                    <td>
                        <div id="item-right">
                            <div style="min-height:100px">
                                {{ question.html|safe }}
                            </div>
                            <div id="question-tags" class="question-tag-extra" >
                                {% for tag in question.tagname_list %}
                                    <a href="{% url forum.views.tag tag|urlencode %}" class="post-tag" title="查看有关'{{ tag }}'的问题" rel="tag">{{ tag }}</a>
                                {% endfor %}
                            </div>
                            <div id="question-controls" style="clear:both;">
                                <table width="585px">
            	                    <tr>
                                        <td width="300px" style="vertical-align:top">
                                            <span class="offensive-flag">
                                                <a href="#" title="检举该帖为垃圾信息（含人身攻击、谩骂、恶意言论等）">
                                                垃圾帖？
                                                </a>
                                            </span>
                                        </td>
            	                    	<td width="100px"></td>
                                     <td >
                                        <div  class="question-mark">
                                            <table width="100%">
                	                            <tr>
                    	                            	<td colspan="2"> 
                                                        &nbsp;提问于<strong title="{{ question.added_at }}">{% diff_date question.added_at %}</strong>
                                                    </td>
                	                            	
                	                            </tr>
                	                            <tr>
                                                    <td width="40px" style="vertical-align:bottom">
                                                    {% gravatar question.author 32 %}
                                                    </td>
                                                    <td style="vertical-align:top">
                                                        <div><a href="/users/{{ question.author.id }}/{{ question.author }}">{{ question.author }}</a></div>
                                                        <div>
                                                        <span class="reputation-score" title="{{ question.author.reputation }}用户积分">{{ question.author.reputation }}</span>
                                                        <span title="{{ question.author.gold }}金牌">
                                                        <span class="badge1">●</span>
                                                        <span class="badgecount">{{ question.author.gold }}</span>
                                                        </span>
                                                        <span title="{{ question.author.silver }}银牌">
                                                        <span class="badge2">●</span>
                                                        <span class="badgecount">{{ question.author.silver }}</span>
                                                        </span>
                                                        <span title="{{ question.author.bronze }}铜牌">
                                                        <span class="badge3">●</span>
                                                        <span class="badgecount">{{ question.author.bronze }}</span>
                                                        </span>
                                                        </div>
                                                    </td>
                	                            </tr>
                                            </table>
                                        </div>
                                        
                                        
                                     </td>
            	                    </tr>
            	                    
                                </table>
                                
                            </div>
                            
                            <div class="post-comments" style="margin-bottom:20px">
                                <input id="can-post-comments-{{question.id}}" type="hidden" value="true"/>
                                <a id="comments-link-{{question.id}}" class="comments-link">添加评论</a>
                                <div id="comments-{{question.id}}" class="comments-container">
                                <div class="comments"/></div>
                            </div>
                            
                        </div>
                        
                    </td>
                </tr>
            </table>
            {% ifnotequal question.answer_count 0 %}
                <div id="main-bar" class="">
                    <a name="sort-top"></a>
                    <h3>{{ question.answer_count }}个回答：</h3>
                    <div id="tab" class="">
                        <a id="oldest" href="?sort=oldest#sort-top" title="最先回答显示在最前面">最早回答</a>
                        <a id="latest" href="?sort=latest#sort-top" title="最晚回答显示在最前面">最近回答</a>
                        <a id="votes" href="?sort=votes#sort-top" title="投票次数最多的显示在最前面">投票最多</a>
                    </div>
                </div>
                {% cnprog_paginator context %}
  
                {% for answer in answers %}
                    <a name="{{ answer.id }}"></a>
                    <div id="answer-container-{{ answer.id }}" class="answer {% if answer.accepted %}accepted-answer{% endif %}">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:50px;vertical-align:top">
                                    <div class="vote-buttons">
                                        <img id="answer-img-upvote-{{ answer.id }}" class="answer-img-upvote" src="/content/images/vote-arrow-up.png" title="这篇帖子有价值（再次点击取消操作）" >
                                        <div id="answer-vote-number-{{ answer.id }}" class="vote-number">{{ answer.score }}</div>
                                        <img id="answer-img-downvote-{{ answer.id }}" class="answer-img-downvote" src="/content/images/vote-arrow-down.png" title="这篇帖子没有价值（再次点击取消操作）" >
                                        {% ifequal user question.author  %}
                                        <img id="answer-img-accept-{{ answer.id }}" class="answer-img-accept" src="/content/images/vote-accepted{% if answer.accepted %}-on{% endif %}.png" title="最佳答案（再次点击取消操作）" >
                                        {% else %}
                                            {% if answer.accepted %}
                                            <img id="answer-img-accept-{{ answer.id }}" class="answer-img-accept" src="/content/images/vote-accepted{% if answer.accepted %}-on{% endif %}.png" title="这个答案已经被提问作者标记为最佳答案" >
                                            {% endif %}
                                        {% endifequal %}
                                    </div>
                                </td>
                                <td>
                                    <div class="item-right">
                                        <div style="min-height:80px">
                                            {{ answer.html|safe }}
                                        </div>
                                        <div id="question-controls" style="clear:both;">
                                            <table width="585px">
                        	                    <tr>
                                                    <td width="300px" style="vertical-align:top">
                                                        <span class="offensive-flag">
                                                            <a href="#{{ answer.id }}" title="该回答的链接地址">
                                                            链接
                                                            </a>
                                                        </span>
                                                        <span class="link-separator">|</span>
                                                        <span class="offensive-flag">
                                                            <a href="#" title="检举该帖为垃圾信息（含人身攻击、谩骂、恶意言论等）">
                                                            垃圾帖？
                                                            </a>
                                                        </span>
                                                    </td>
                        	                    	<td width="100px"></td>
                                                 <td >
                                                    <div  class="answer-mark">
                                                        <table width="100%">
                            	                            <tr>
                                	                            	<td colspan="2"> 
                                                                    &nbsp;回答于<strong title="{{answer.added_at}}">{% diff_date answer.added_at %}</strong>
                                                                </td>
                            	                            	
                            	                            </tr>
                            	                            <tr>
                                                                <td width="40px" style="vertical-align:bottom">
                                                                {% gravatar answer.author 32 %}
                                                                </td>
                                                                <td style="vertical-align:top">
                                                                    <div><a href="#">{{ answer.author }}</a></div>
                                                                    <div>
                                                                    <span class="reputation-score" title="{{ answer.author.reputation }}用户积分">{{ answer.author.reputation }}</span>
                                                                    <span title="{{ answer.author.gold }}金牌">
                                                                    <span class="badge1">●</span>
                                                                    <span class="badgecount">{{ answer.author.gold }}</span>
                                                                    </span>
                                                                    <span title="{{ answer.author.silver }}银牌">
                                                                    <span class="badge2">●</span>
                                                                    <span class="badgecount">{{ answer.author.silver }}</span>
                                                                    </span>
                                                                    <span title="{{ answer.author.bronze }}铜牌">
                                                                    <span class="badge3">●</span>
                                                                    <span class="badgecount">{{ answer.author.bronze }}</span>
                                                                    </span>
                                                                    </div>
                                                                </td>
                            	                            </tr>
                                                        </table>
                                                    </div>
                                                    
                                                    
                                                 </td>
                        	                    </tr>
                        	                    
                                            </table>
                                            
                                        </div>
                                        <div id="comment-{{ answer.id }}" class="post-comments {% if answer.accepted %}comment-link-accepted{% endif %}" >
                                            <input id="can-post-comments-{{answer.id}}" type="hidden" value="true"/>
                                            <a id="comments-link-{{answer.id}}" class="comments-link">添加评论</a>
                                            <div id="comments-{{answer.id}}" class="comments-container">
                                            <div class="comments"/></div>
                                        </div>
                                        
                                    </div>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
                <div class="paginator-container-left">
                    {% cnprog_paginator context %}
                </div>
            {% else %}
                <div class="line"></div>
            {% endifnotequal %}
            <div style="clear:both">
            </div>
            
            <div style="padding:10px 0 0 0;">
                <h3>您的回答：</h3>
            </div>
            
            
            <div id="description" class="" >
                {{ answer.text }}
                <div class="preview-toggle"><span id="pre-collapse" title="打开或者关闭Markdown编辑器的实时预览">预览开关</span></div>
                <div id="previewer" class="wmd-preview"></div>
                
            </div>

            <br>
            {% if not user.is_authenticated %}
            <table id="login-box"> 
                <tr> 
                    <td style="vertical-align:middle;"> 
                    <strong>使用 <a href="http://openid.net/" title="了解更多有关OpenID的信息">OpenID</a> 登录：</strong><br>
                        {{ answer.openid }}
                        <div class="title-desc">
                            获取您自己的<a href="https://www.myopenid.com/" target=="_blank">OpenID</a>。
                        </div>
                    </td> 
                    <td style="vertical-align:middle; padding: 0px 40px 0px 40px"> 
                        <div style="position: absolute; margin-top:40px; background-color:white; margin-left:-10px; padding:5px;">或</div> 
                        <div style="width:1px; border-left:solid 1px #999; height:8em; margin:auto;"></div> 
                    </td> 
                    <td style="vertical-align:middle;"> 
                        <strong>您的大名:</strong><br>
                        {{ answer.user }}
                        <p>
                        <strong>电子邮件:（不会公开显示）</strong><br>
                        {{ answer.email }}
                        </p>
                    </td> 
                </tr> 
            </table>    
            {% endif %}
            {{ answer.text.errors }}
            <input type="submit" value="回答该问题" class="submit">
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="gray-box">
    <div class="paragraph">
        您正在浏览的问题含有以下标签：
    </div>
    <div class="paragraph-extra">
        {% for tag in tags %}
        <a href="{% url forum.views.tag tag.name|urlencode %}" class="post-tag" title="查看有关'{{ tag.name }}'的问题" rel="tag">{{ tag.name }}</a> <span class="tag-number">× {{ tag.used_count|intcomma }}</span><br>
        {% endfor %}
    </div>
    <div class="paragraph">
        提问时间： <div class="big" title="{{ question.added_at }}">{% diff_date question.added_at %}</div>
    </div>
    <div class="paragraph"> 
     目前浏览数量：<div class="big">{{ question.view_count|intcomma }} 次</div>
    </div>
    <div class="paragraph"> 
        最后更新时间：<div class="big" title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</div>
    </div>
</div>

<div class="gray-box">
    <h3>相似标签的问题</h3>
    <div id="" class="">
        <ul class="list-item">
        {% for question in similar_questions %}
            <li><a href="/questions/{{question.id}}/{{ question.title }}">{{ question.title }}</a><span class="small" title="{{ question.last_activity_at }}"> ({% diff_date question.last_activity_at %})</span></li>
        {% endfor %}
        </ul>
    </div>
    <br>  
</div>

{% endblock %}

{% block endjs %}
<script language="javascript">
//highlight code syntax after loading content in editor
lanai.highlightSyntax();

</script>
{% endblock %}

