{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}没有回答的问题{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#nav_unanswered").attr('className',"on");
        });
         
        </script>
{% endblock %}
{% block content %}
<div class="tabsA">
	<span class="headQuestions">没有回答的问题</span>
    <a id="latest" class="on" href="?sort=latest" title="最新加入系统的问题">最新问题</a>
    
</div>
<div id="listA">
    {% for question in questions.object_list %}
    <div class="qstA">
        {% ifequal tab_id 'active'%}
        <div class="author">
            <div style="float:left;padding:3px">
                {% gravatar question.last_activity_by 32 %}
            </div>
            <div>
                <a href="{{ question.last_activity_by.get_profile_url }}">
                {{ question.last_activity_by }}</a>
                <br>
                {% get_score_badge question.last_activity_by %} 
            </div>
            <div style="float:left;">
            更新于<span title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</span>
            </div>
        </div>
        {% else %}
        {% if question.wiki %}
        <span class="from">社区Wiki</span>
        {% else %}
        <div class="author">
            <div style="float:left;padding:3px">
                {% gravatar question.author 32 %}
            </div>
            <div>
                <a href="{{ question.author.get_profile_url }}">
                {{ question.last_activity_by }}</a>
                <br>
                {% get_score_badge question.author %} 
            </div>
            <div style="float:left;">
            提问于<span title="{{ question.added_at }}">{% diff_date question.added_at %}</span>
            </div>
        </div>
        {% endif %}
        {% endifequal %}
        <h2><a href="{{ question.get_absolute_url }}">{{ question.get_question_title }}</a></h2>
        <div class="summary">
            {{ question.summary }}...                
        </div>
        <span class="stat">回答:<span class="num">{{ question.answer_count|intcomma }}</span> 票数:<span class="num">{{ question.score|intcomma }}</span> 浏览:<span class="num">{{ question.view_count|intcomma }}</span> 标签: </span>
        <span class="tags">
        {% for tag in question.tagname_list %}
        <a href="{% url forum.views.tag tag|urlencode %}" title="查看有关'{{ tag }}'的问题" rel="tag">{{ tag }}</a>
        {% endfor %}
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block tail %}
                            {% cnprog_paginator context %}
                        <div class="pager">
                            {% cnprog_pagesize context %}
                        </div>
{% endblock %}

{% block sidebar %}
<div class="boxB">
    <div>
        您正在浏览所有<br><div class="questions-count">{{ questions_count|intcomma }}</div>
        <div class="paragraph">个<span class="darkred"><strong> 没有回答的 </strong></span>问题。</div>
        
            <div class="paragraph">问题按 <strong>问题创建时间</strong> 排序。最新加入的问题将显示在最前面。</div>

    </div>
</div>
<div class="boxB">
	<h3>相关标签</h3>
    <div class="body">
    <div class="tags">
        {% for tag in tags %}
            <a rel="tag" title="查看有关'{{ tag.name }}'的问题"  href="{% url forum.views.tag tag.name|urlencode %}">{{ tag.name }}</a>
            <span class="tag-number">× {{ tag.used_count|intcomma }}</span>
            <br>
        {% endfor %}
        <br>
    </div>
    </div>
</div>

{% endblock %}

