<div id="subheader">
    <div id="tab">
        <a id="stats" title="Top statistics for this user" href="/users/{{user.id}}/{{user.username}}#sort-top">概览</a>
        <a id="recent" title="Recent activity by this user" href="/users_recent/{{user.id}}/{{user.username}}#sort-top">最近活动</a>
        <a id="responses" title="New responses to this user" href="/users_responses/{{user.id}}/{{user.username}}#sort-top">回应</a>
        <a id="reputation_history" title="Reputation history for this user" href="/users_reputation_history/{{user.id}}/{{user.username}}#sort-top">积分</a>
        <a id="favorites" title="Questions marked as favorite by this user" href="/users_favorites/{{user.id}}/{{user.username}}#sort-top">收藏</a>
    </div>
</div>