<div id="subheader">
    <h1>Daok</h1>
    <div id="tabs"></div>
</div>

<table width="950">
    <tr>
    <!--cell-->
        <td width="170" style="vertical-align: top;">
            <table>
                <tr>
                    <td style="padding: 20px 20px 8px;">
                        <img width="128" height="128" src="http://www.gravatar.com/avatar/a147f48a1c8298c71d4bb425b2801224?s=128&amp;d=identicon&amp;r=PG"/>
                    </td>
                </tr>
                <tr>
                    <td class="summaryinfo">
                        <div class="summarycount">15,217</div>
                        <div style="margin-top: 5px; font-weight: bold;">荣誉</div>
                    </td>
                </tr>
            </table>
        </td>
        <!--cell-->
        <td width="350" style="vertical-align: top;">
            <div style="float: right; margin-top: 19px; margin-right: 4px;"></div>
            <h2 style="margin-top: 20px;">注册用户</h2>
            <table class="user-details">
                <tr>
                    <td width="120">用户名</td>
                    <td width="230"><b>Daok</b></td>
                </tr>
                <tr>
                    <td>已加入</td>
                    <td>{{user.username}} days</td>
                </tr>
                <tr>
                    <td>上次登录时间</td>
                    <td><span class="relativetime" title="12/23/2008 1:51:03 AM UTC">4 hours ago</span></td>
                </tr>
                <tr>
                    <td>个人网站</td>
                    <td><a rel="me" href="http://stackoverflow.com/questions/320746/real-time-reputation-tracker">http://stackoverflow.com/questions/320746/real-time-reputation-tracker</a></td>
                </tr>
                <tr>
                    <td>位置</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>年龄</td>
                    <td>34</td>
                </tr>
            </table>
        </td>
        <!--cell-->
        <td width="380"><div id="user-about-me">Computer engineer</div></td>
    </tr>
</table>