<div id="subheader">
    <div id="tab">
        <a title="Top statistics for this user" href="/users/13913?sort=stats#sort-top" class="youarehere">Stats</a><a title="Recent activity by this user" href="/users/13913?sort=recent#sort-top">Recent</a><a title="New responses to this user" href="/users/13913?sort=responses#sort-top">Responses</a><a title="Reputation history for this user" href="/users/13913?sort=reputationhistory#sort-top">Reputation</a><a title="Questions marked as favorite by this user" href="/users/13913?sort=favorites#sort-top">Favorites</a>
    </div>
</div>