{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}用户资料{% endspaceless %}{% endblock %}
{% block forestyle%}
    <style type="text/css">
 		.history-table td { padding: 5px; }
 		.user-stats-table { margin-left:50px; }
	</style>
{% endblock %}
{% block forejs %}
    {% include "user_js.html" %}
{% endblock %}
{% block content %}
    <div id="mainbar-full">
        <div style="margin-top: 20px;"></div>
        {% include "user_info.html" %}
		{% include "user_tabs.html" %}
		<div style="margin-top: 10px;"></div>
        <a name="questions"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{questions|length}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2>个问题</h2>
                </td>
            </tr>
        </table>
		{% include "users_questions.html" %}
        <p>&nbsp;</p>
        <a name="answers"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{answered_questions|length}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2>个回答</h2>
                </td>
            </tr>
        </table>
        <div class="user-stats-table">
            {% for answered_question in answered_questions %}
            <div class="answer-summary">
                <!--TODO:locate answer in question's answers list-->
                <a title="{{answered_question.summary}}" href="/questions/{{answered_question.id}}/{{answered_question.title}}">
                    <div class="answer-votes {% if answered_question.answer_accepted %}answered-accepted{% endif %}" title="该问题总共有{% get_total_count answered_question.vote_up_count  answered_question.vote_down_count %}个投票">{% get_total_count answered_question.vote_up_count  answered_question.vote_down_count %}</div>
                </a>
                <div class="answer-link">
                    <!--TODO:locate answer in question's answers list-->
                    <a href="/questions/{{answered_question.id}}/{{answered_question.title}}">{{answered_question.title}}</a> ({{answered_question.user_answered_count}})
                </div>
            </div>
            {% endfor %}
        </div>
        <p>&nbsp;</p>
        <a name="votes"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{total_votes}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2>个投票</h2>                    
                </td>
            </tr>
        </table>
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="60">
                        <div class="votebox" style="background:none">
                            <img width="40" height="25" style="cursor: default;" src="/content/images/vote-arrow-up-on.png"/>
                            <span title="该用户投的赞成票总数" class="vote-count-post">{{up_votes}}</span>
                            <img width="40" height="25" style="cursor: default;" src="/content/images/vote-arrow-down.png"/>
                        </div>
                    </td>
                    <td width="60">
                        <div class="votebox" style="background:none">
                            <img width="40" height="25" style="cursor: default;" src="/content/images/vote-arrow-up.png"/>
                            <span title="用户投的反对票总数" class="vote-count-post">{{down_votes}}</span>
                            <img width="40" height="25" style="cursor: default;" src="/content/images/vote-arrow-down-on.png"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <p>&nbsp;</p>
        <a name="tags"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{tags|length}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2>个标签</h2>
                </td>
            </tr>
        </table>
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="180">
                        {% for tag in tags%}
                        <a rel="tag" title="查看有关'{{ tag }}'的问题" class="post-tag" href="{% url forum.views.tag tag|urlencode %}">{{tag.name}}</a><br>
                            {% if forloop.counter|divisibleby:"10" %}
                                </td>
                                <td width="180">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <p>&nbsp;</p>
        <a name="badges"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarycount"></div>
                </td>
                <td style="vertical-align: middle; padding-left: 10px;">
                    <h2></h2>                    
                </td>
            </tr>
        </table>
        <div class="user-stats-table">
            
        </div>
        {% include "user_footer.html" %}
	</div>
{% endblock %}