<div id="subheader">
    <div id="tab">
        <a id="stats" title="Top statistics for this user" href="/users/{{user.id}}/{{user.username}}#sort-top">Stats</a>
        <a id="recent" title="Recent activity by this user" href="/users_recent/{{user.id}}/{{user.username}}#sort-top">Recent</a>
        <a id="response" title="New responses to this user" href="/users_response/{{user.id}}/{{user.username}}#sort-top">Responses</a>
        <a id="reputation" title="Reputation history for this user" href="/users_reputation_history/{{user.id}}/{{user.username}}#sort-top">Reputation</a>
        <a id="favorites" title="Questions marked as favorite by this user" href="/users_favorites/{{user.id}}/{{user.username}}#sort-top">Favorites</a>
    </div>
</div>