{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block forestyle%}
    <style type="text/css">
	    h1 { font-size: 200%; }
 		.history-table td { padding: 5px; }
 		.user-stats-table { margin-left:50px; }
	</style>
{% endblock %}
{% block forejs %}
    {% include "user_js.html" %}
{% endblock %}
{% block content %}
    <div id="mainbar-full">
        <div style="margin-top: 20px;"></div>
        {% include "user_info.html" %}
		{% include "user_tabs.html" %}
		<table class="history-table"><tr>
        <td width="100">
        9 hours ago</td>
        <td>
        comment</td>
        <td>
        <b><a href="/questions/391867/imaginary-sort">Imaginary Sort!</a></b></td>
        </tr>
        <tr>
        <td width="100">
        9 hours ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/391867/imaginary-sort#391872">Imaginary Sort!</a></td>
        </tr>
        <tr>
        <td width="100">
        9 hours ago</td>
        <td>
        <span style="color: maroon;">revised</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/revisions/390674/list">Why such a disparity in pricing between Windows and Linux hosting services</a> <span class="revision-comment">added 139 characters in body</span></td>
        </tr>
        <tr>
        <td width="100">
        9 hours ago</td>
        <td>
        comment</td>
        <td>
        <b><a href="/questions/25063/how-to-mentor-a-junior-programmer">How to mentor a junior programmer</a></b></td>
        </tr>
        <tr>
        <td width="100">
        9 hours ago</td>
        <td>
        <span style="color: maroon;">revised</span></td>
        <td>
        <b><a href="/revisions/391885/list">Does anyone have some experience connecting to Top Coder through a proxy?</a></b> <span class="revision-comment">edited tags</span></td>
        </tr>
        <tr>
        <td width="100">
        10 hours ago</td>
        <td>
        comment</td>
        <td>
        <b><a href="/questions/391644/checking-array-duplication-in-linear-time">Checking array duplication in linear time</a></b></td>
        </tr>
        <tr>
        <td width="100">
        10 hours ago</td>
        <td>
        comment</td>
        <td>
        <b><a href="/questions/391644/checking-array-duplication-in-linear-time">Checking array duplication in linear time</a></b></td>
        </tr>
        <tr>
        <td width="100">
        11 hours ago</td>
        <td>
        <span class="accept-answer-link">answered</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/305223/jon-skeet-facts#391631">Jon Skeet Facts?</a></td>
        </tr>
        <tr>
        <td width="100">
        11 hours ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/390516/what-do-you-do-when-question-is-not-satisfactorily-answered-on-so#390527">What do you do when question is not satisfactorily answered on SO?</a></td>
        </tr>
        <tr>
        <td width="100">
        11 hours ago</td>
        <td>
        <span style="color: maroon;">revised</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/revisions/390674/list">Why such a disparity in pricing between Windows and Linux hosting services</a> <span class="revision-comment">added 600 characters in body</span></td>
        </tr>
        <tr>
        <td width="100">
        12 hours ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/390649/why-such-a-disparity-in-pricing-between-windows-and-linux-hosting-services#390674">Why such a disparity in pricing between Windows and Linux hosting services</a></td>
        </tr>
        <tr>
        <td width="100">
        22 hours ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/390649/why-such-a-disparity-in-pricing-between-windows-and-linux-hosting-services#390689">Why such a disparity in pricing between Windows and Linux hosting services</a></td>
        </tr>
        <tr>
        <td width="100">
        22 hours ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/354124/are-there-statistical-studies-that-indicates-that-python-is-more-productive#361425">Are there statistical studies that indicates that Python is "more productive"?</a></td>
        </tr>
        <tr>
        <td width="100">
        22 hours ago</td>
        <td>
        <span style="color: maroon;">revised</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/revisions/390674/list">Why such a disparity in pricing between Windows and Linux hosting services</a> <span class="revision-comment">clarify</span></td>
        </tr>
        <tr>
        <td width="100">
        23 hours ago</td>
        <td>
        comment</td>
        <td>
        <b><a href="/questions/390693/does-anyone-beside-me-just-not-get-aspnet-mvc">Does anyone beside me just NOT get ASP.NET MVC?</a></b></td>
        </tr>
        <tr>
        <td width="100">
        23 hours ago</td>
        <td>
        <span style="color: maroon;">revised</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/revisions/390685/list">What do you do when question is not satisfactorily answered on SO?</a> <span class="revision-comment">added 128 characters in body</span></td>
        </tr>
        <tr>
        <td width="100">
        23 hours ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/390649/why-such-a-disparity-in-pricing-between-windows-and-linux-hosting-services#390674">Why such a disparity in pricing between Windows and Linux hosting services</a></td>
        </tr>
        <tr>
        <td width="100">
        23 hours ago</td>
        <td>
        <span class="accept-answer-link">answered</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/390516/what-do-you-do-when-question-is-not-satisfactorily-answered-on-so#390685">What do you do when question is not satisfactorily answered on SO?</a></td>
        </tr>
        <tr>
        <td width="100">
        23 hours ago</td>
        <td>
        comment</td>
        <td>
        <b><a href="/questions/390516/what-do-you-do-when-question-is-not-satisfactorily-answered-on-so">What do you do when question is not satisfactorily answered on SO?</a></b></td>
        </tr>
        <tr>
        <td width="100">
        23 hours ago</td>
        <td>
        <span class="accept-answer-link">answered</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/390649/why-such-a-disparity-in-pricing-between-windows-and-linux-hosting-services#390674">Why such a disparity in pricing between Windows and Linux hosting services</a></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/388862/confession-of-voting-fraud#388873">Confession of voting fraud</a></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/386908/dos-scripting-for-command-to-rename-all-files-with-a-certain-extension#386925">DOS scripting FOR command to rename all files with a certain extension</a></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        <span style="color: maroon;">revised</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/revisions/386925/list">DOS scripting FOR command to rename all files with a certain extension</a> <span class="revision-comment">added 196 characters in body</span></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        awarded</td>
        <td>
        <a class="badge" title="silver badge: First answer was accepted with at least 10 up votes" href="/badges/19/enlightened"><span class="badge2">●</span> Enlightened</a></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        awarded</td>
        <td>
        <a class="badge" title="bronze badge: Answer voted up more than 10 times" href="/badges/23/nice-answer"><span class="badge3">●</span> Nice Answer</a></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        comment</td>
        <td>
        <b><a href="/questions/387292/is-xml-considered-harmful">Is XML considered harmful?</a></b></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        comment</td>
        <td>
        <b><a href="/questions/387292/is-xml-considered-harmful">Is XML considered harmful?</a></b></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/305223/jon-skeet-facts#338335">Jon Skeet Facts?</a></td>
        </tr>
        <tr>
        <td width="100">
        yesterday</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/305223/jon-skeet-facts#338335">Jon Skeet Facts?</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/387707/whats-the-best-way-to-define-a-class-in-javascript#387733">What's the best way to define a class in javascript</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        <span class="accept-answer-link">answered</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/305223/jon-skeet-facts#387787">Jon Skeet Facts?</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        <span style="color: maroon;">revised</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/revisions/382938/list">What are your 3 most important programming patterns, and why?</a> <span class="revision-comment">added 195 characters in body</span></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        <span style="color: maroon;">revised</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/revisions/386925/list">DOS scripting FOR command to rename all files with a certain extension</a> <span class="revision-comment">added 120 characters in body</span></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/386908/dos-scripting-for-command-to-rename-all-files-with-a-certain-extension#386920">DOS scripting FOR command to rename all files with a certain extension</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/220405/how-to-deal-with-time-storage-in-sql#220706">How to deal with time storage in SQL</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/386908/dos-scripting-for-command-to-rename-all-files-with-a-certain-extension#386929">DOS scripting FOR command to rename all files with a certain extension</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/384738/state-licensing-for-programmers#386842">State Licensing for Programmers</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/386908/dos-scripting-for-command-to-rename-all-files-with-a-certain-extension#386920">DOS scripting FOR command to rename all files with a certain extension</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        <span class="accept-answer-link">answered</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/386908/dos-scripting-for-command-to-rename-all-files-with-a-certain-extension#386925">DOS scripting FOR command to rename all files with a certain extension</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        awarded</td>
        <td>
        <a class="badge" title="bronze badge: Answer voted up more than 10 times" href="/badges/23/nice-answer"><span class="badge3">●</span> Nice Answer</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        <span style="padding: 3px; font-weight: bold;" class="answered-accepted">accepted</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/386493/tdd-which-methods-do-you-expose-for-unit-testing#386516">TDD: Which methods do you expose for unit testing?</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        <span class="accept-answer-link">answered</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/386493/tdd-which-methods-do-you-expose-for-unit-testing#386516">TDD: Which methods do you expose for unit testing?</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/384738/state-licensing-for-programmers#385627">State Licensing for Programmers</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/384738/state-licensing-for-programmers#385638">State Licensing for Programmers</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/384738/state-licensing-for-programmers#385566">State Licensing for Programmers</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/384738/state-licensing-for-programmers#385555">State Licensing for Programmers</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/384738/state-licensing-for-programmers#384748">State Licensing for Programmers</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        comment</td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/384738/state-licensing-for-programmers#384748">State Licensing for Programmers</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        <span class="accept-answer-link">answered</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/386438/boolean-operations-on-rectangle-polygons#386458">Boolean operations on rectangle polygons.</a></td>
        </tr>
        <tr>
        <td width="100">
        2 days ago</td>
        <td>
        <span class="accept-answer-link">answered</span></td>
        <td>
        <a style="color: rgb(85, 85, 85);" href="/questions/385620/how-can-i-use-php-to-obfuscate-email-addresses-so-they-are-not-easily-harvested#385649">How can I use PHP to obfuscate email addresses so they are not easily harvested by spammers?</a></td>
        </tr>
        </table>
        {% include "user_footer.html" %}
	</div>
{% endblock %}