/* 公用 */
body{background:#EEE; font-size:12px; line-height:150%; margin:0; padding:0; color:#000; font-family: "segoe ui",Helvetica,"Microsoft YaHei",宋体,Tahoma,Verdana,MingLiu,PMingLiu,Arial,sans-serif; 
}
div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{margin:0; padding:0; border:none; list-style-type:none;}
p{margin-bottom:4px; font-size:13px; line-height:160%;}
a {color:#663333; text-decoration:none;}
a:hover {text-decoration:underline;}
.block{width:960px; height:auto;}
.fleft{float:left;}
.fright{float:right;}
.tleft{text-align:left;}
.tcenter{text-align:center;}
.tright{text-align:right;}
.dis{display:block;}
.inline{display:inline;}
.none{display:none;}
.red{color:#CC0000;}
.b{font-weight:bold;}
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.white{color:#FFFFFF;}
.u{text-decoration:underline;}
.spacer1{height:6px; line-height:6px; clear:both; visibility:hidden;}
.spacer3{height:30px; line-height:30px; clear:both; visibility:hidden;}

/*页面布局*/
#wrapper {width:960px;margin:auto;padding:0;}
#roof {margin-top:0px;background:#FFF;}
#room {padding-top:10px;background-color:#FFF;border-bottom:1px solid #777;}
#CALeft{width:700px; float:left; position:relative;padding-left:5px}
#CARight{width:240px; float:right; padding-right:5px}
#CAFull{width:960px;padding:0 10px 0 10px;}
#ground {clear:both;border-top:6px solid #000; padding-top:6px; padding-bottom:50px; text-align:center; padding-bottom:100px; background:#777;}
#header{background:url(/content/images/header.png); height:107px;}
/*顶部及导航栏*/
#top {height:20px; text-align:right; padding:3px;width:960px;}
#top a {height:35px; text-align:right;letter-spacing:1px; margin-left:20px;text-decoration:underline; font-size:12px; color:#666;}
#logo {padding:5px;}
#navBar {float:clear;position:relative;display:block;width:960px;}
#navBar .nav {margin:20px 0px 0px 16px;letter-spacing:1px; }
#navBar .nav a {color:#333; background-color:#EEE; padding:0px 12px 3px 12px; height:25px; line-height:30px;margin-left:10px; font-size:15px; font-weight:400; text-decoration:none;display: block;float: left;}
#navBar .nav a:hover {text-decoration:underline}
#navBar .nav a.on {height:24px;line-height:28px;border-left:1px solid #515656;border-top:1px solid #515656;border-right:1px solid #515656; border-bottom:1px solid #515656; background:#515656; color:#FFF; font-weight:600; text-decoration:none}
#navBar .nav a.special {font-size:15px; color:#FFF; font-weight:bold; text-decoration:none;background-color:Darkred }
#navBar .nav a.special:hover {text-decoration:none; background-color:#515656}
#navBar .nav div.focus {float:right; padding-right:0px;}
/*搜索栏*/
#searchBar {background-color:#515656;padding:5px;}
#searchBar .content { }
#searchBar .searchInput {font-size:13px; height:18px; width:400px;}
#searchBar .searchBtn {font-size:14px; height:26px; width:80px;}
#searchBar .options {padding-top:5px; font-size:100%;color:#EEE;letter-spacing:1px;}
#searchBar .options INPUT {margin-left:15px;}
#searchBar .options INPUT:hover {cursor:pointer}

/*问题列表*/
#listA {float:left; background-color:#FFF;padding:0 0px 0 0px; width:100%;}
#listA .qstA {padding:3px 5px 0 5px; margin:0 0px 10px 0px; background:url(/content/images/quest-bg.gif) repeat-x top;}
#listA .qstA thumb {float:left; }
#listA .qstA H2 {font-size:15px; color:#0077CC; font-weight:800; margin:8px auto;}
#listA .qstA H2 a {color:#663333;}
#listA .qstA .stat {font-size:13px;letter-spacing:1px;float:right;}
#listA .qstA .stat span {margin-right:5px;}
#listA .qstA .stat td {min-width:40px;text-align:center;}
#listA .qstA .stat .num {font-family:arial;color:#905213; font-size:20px; font-weight:800;}
#listA .qstA .stat .unit {color:#777;}
#listA .qstA .from {margin-top:5px; font-size:13px;}
#listA .qstA .from .score {font-family:arial;}
#listA .qstA .date {margin-left:20px; color:#777;}
#listA .qstA .from a {}
#listA .qstA .author {font-weight:400; }
#listA .qstA .author a{ }
#listA .qstA .summary{margin-right:5px;}
#evenMore {font-size:14px; font-weight:800;}

/*内容块*/
.boxA {background:#777; padding:6px; margin-bottom:8px;}
.boxA H3 {font-size:13px; font-weight:800; color:#FFF; margin:0; padding:0; margin-bottom:4px;}
.boxA .body {border:1px solid #999; padding:8px; background:#FFF; font-size:13px;}
.boxA .more {padding:2px; text-align:right; font-weight:800;}
.boxB {background:#CCC; padding:6px; margin-bottom:8px;}
.boxB H3 {font-size:13px; font-weight:800; color:#000; margin:0; padding:0 0 0 15px; margin-bottom:4px; background:url(/content/images/dot-g.gif) no-repeat left center;}
.boxB .body {border:1px solid #999; padding:8px; background:#FFF; font-size:13px; line-height:160%;}
.boxB .more {padding:1px; text-align:right; font-weight:800;}

/*分页*/
.pager {margin-top:16px; margin-bottom:16px; float:right;}
.pager a{padding:1px 5px;border:1px solid #CCC; font-size:12px; line-height:22px; margin-left:8px; color:#333333;}
.pager a:hover{border:1px solid #999;background:#EEE; color:#333333; text-decoration:none;}
.pager a.on{border:1px solid #666;background:#DDD;}

/*标签*/
.tags {font-family:arial; line-height:200%; display:block; margin-top:5px;}
.tags a {font-size:100%; font-weight:normal; color:#333; text-decoration:none;background-color:#EEE; border-left:3px solid #777; border-top:1px solid #EEE; border-bottom:1px solid #CCC; border-right:1px solid #CCC; padding:1px 8px 1px 8px;}
.tags a:hover {background-color:#F5F5F5;color:#333;}

/*奖牌*/
a.medal  { font-size:14px; line-height:250%; font-weight:800; color:#333; text-decoration:none; background:url(/content/images/medala.gif) no-repeat; border-left:1px solid #EEE; border-top:1px solid #EEE; border-bottom:1px solid #CCC; border-right:1px solid #CCC; padding:4px 12px 4px 6px;}
a:hover.medal  {color:#333; text-decoration:none; background:url(/content/images/medala_on.gif) no-repeat; border-left:1px solid #E7E296; border-top:1px solid #E7E296; border-bottom:1px solid #D1CA3D; border-right:1px solid #D1CA3D;}

/*Tab栏*/
.tabBar{background-color:#FFF;border-bottom: 1px solid #666;height: 30px; width: 100%;clear:both; margin-bottom:3px;}
.tabsA {background-color:#FFF;float:right;position:relative;display:block;font-weight:bold;}
.tabsA a.on, .tabsA a.on:hover {background: #fff;
    color:#333;
	border: 1px solid #777;
	border-bottom-color: #fff;
	height: 25px;
	line-height: 26px;
	margin-top: 3px;
	padding: 0px 11px 0px 11px;}

.tabsA a {background: #eee;
	border: 1px solid #eee;
	color: #777;
	display: block;
	float: left;
	height: 22px;
	line-height: 28px;
	margin: 5px 4px 0 0;
	padding: 0 11px 0 11px;
	text-decoration: none;}
.tabsA a:hover {background: #fff;
	border: 1px solid #777;
	border-bottom-color: #fff;}
.headlineA {font-size:13px; border-bottom:1px solid #0E88AB; padding-bottom:2px; font-weight:800; margin-bottom:12px; text-align:right; height:30px;}
.headQuestions {float:left; height:23px; line-height:23px; margin:5px 0 0 5px;padding:0px 6px 0px 15px; font-size:15px; font-weight:700; border-bottom:0px solid #777; border-left:0px solid #darkred; background-color:#FFF;background:url(/content/images/dot-list.gif) no-repeat left center;}
.headAnswers {float:left; padding:3px; font-size:18px; font-weight:800; background:url(/content/images/ico_answers.gif) left 2px no-repeat; padding-left:24px;}
.headTags {float:left; padding:3px; font-size:18px; font-weight:800; background:url(/content/images/ico_tags.gif) no-repeat; padding-left:24px;}
.headUsers {float:left; padding:3px; font-size:18px; font-weight:800; background:url(/content/images/ico_users.gif) no-repeat; padding-left:24px;}
.headMedals {float:left; padding:3px; font-size:18px; font-weight:800; background:url(/content/images/ico_medals.gif) no-repeat; padding-left:24px;}
.headLogin {float:left; padding:3px; font-size:18px; font-weight:800; background:url(/content/images/ico_login.gif) no-repeat; padding-left:24px;}
.headNormal {text-align:left;padding:3px; font-size:18px; margin-bottom:12px; font-weight:800;border-bottom:1px solid #0E88AB;}
/*RSS订阅*/
#feeds {margin:20px 0; }
#feeds a {background:url(/content/images/feed-icon-small.png) no-repeat 0; padding-left:18px; font-weight:700; font-size:12px; }

/*问题*/
#question {margin-bottom:30px;}
#question h1{font-size:15px;background:#CCC; padding:6px 8px;;}
#question .body{background:#F7F7F7; padding:20px 10px;}
.starter {padding:10px; background:#E0EAF1;}
.vote {font-size:20px; color:#666; font-weight:800;}

/*回答*/
#answers {}
.answer {margin-bottom:20px; background:url(/content/images/dash.gif) repeat-x bottom;}
.answer .body{padding:20px 10px;}
.firstAnswer {background:#E0EAF1 url(/content/images/dash.gif) repeat-x bottom;}
.bestAnswer {background:#F2FFCA url(/content/images/dash.gif) repeat-x bottom;}
.replyer {padding:10px; background:none;}

/*标签列表*/
.tagsbox {}
.tagsbox a {color:#000;line-height:30px;margin-right:10px;font-size:100%;background-color:#EEE;padding:3px;}
.tagsbox a:hover {text-decoration:none;background-color:#CCC;}
.tagsList li {width:240px; float:left;}

/*其他全局样式*/
.userStatus {margin-left:12px; color:#FFF; float:right;}
.userStatus a {color:#FFF;}
.gold, .badge1 {color:#FFCC00;}
.silver, .badge2 {color:#CCCCCC;}
.bronze, .badge3 {color:#CC9933;}
.score {font-weight:800; color:#333;}
.footerLinks {color:#EEE; font-size:13px; letter-spacing:1px;}
.footerLinks a {color:#FFF; font-size:13px;}
.subSearch {margin-bottom:12px; padding:4px;}
a.comment {background:#EEE; color:#993300; padding:4px;}
a.permLink {padding:2px;}
a.offensive {color:#999;}
ul.bulleta li {background:url(/content/images/bullet_green.gif) no-repeat 0px 2px; padding-left:16px; margin-bottom:4px;}
.user {padding:5px; line-height:140%; width:160px;}
.user .thumb{clear:both;float:left; margin-right:4px; display:inline;}
.content h3{font-size:16px;}
